@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

:root {
	/* Transition Properties */
	--duration: 100ms;
	--easing: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Resets */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Muli", sans-serif;
	color: #fff;
	margin: 0;
	min-height: 100vh;
	background-color: steelblue;
	display: grid;
	place-items: center;
	overflow: hidden;
}

a,
button,
input {
	font: inherit;
}

a {
	text-decoration: none;
	color: lightblue;
}

a:hover,
a:focus {
	color: cyan;
}

.container {
	width: min(100% - 2rem, 30rem);
	padding: 20px 40px;
	border-radius: 5px;
	background-color: hsl(0 0% 0% / 0.4);
}

.title {
	font-size: 40px;
	text-align: center;
	margin-bottom: 30px;
}

.btn,
.form__input,
.form__label {
	display: block;
	width: 100%;
}

.btn {
	cursor: pointer;
	color: #222;
	font-weight: 700;
	text-align: center;
	border: 0;
	border-radius: 5px;
	padding: 0.75rem 1.25rem;
	margin-top: 1.75rem;
	background-color: lightblue;
}

.btn:active {
	transform: scale(0.98);
}

.form__group {
	position: relative;
}

.form__label {
	font-size: 18px;
	font-weight: 700;
	position: absolute;
	top: 1rem;
	left: 0;
	pointer-events: none;
}

.form__label span {
	display: inline-block;
	transition: transform var(--duration) var(--easing);
}

.form__input {
	color: inherit;
	font-size: 18px;
	padding: 1rem;
	margin: 20px 0 40px;
	border: none;
	border-bottom: 2px solid #fff;
	background-color: transparent;
}

.form__input + .form__input {
	margin: 1rem 0;
}

.form__input:focus {
	outline: none;
}

.form__input:focus ~ .form__label span,
.form__input:valid + .form__label span {
	color: lightblue;
	transform: translateY(-30px);
}

.text {
	margin-top: 30px;
}
