@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;&display=swap");

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	display: grid;
	place-items: center;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

button {
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 1px;
	color: white;
	width: 100%;
	padding: 0.5rem 1rem;
	border: none;
	background-color: rebeccapurple;
}

.carousel {
	width: 31.25rem;
	box-shadow: 2px 2px 8px hsl(0 0% 0% / 0.3);
}

.carousel,
.carousel__imgs {
	overflow: hidden;
}

.carousel__imgs,
.carousel__btns {
	display: flex;
}

.carousel__imgs {
	width: inherit;
	aspect-ratio: 1;
	transition: transform 300ms ease-in-out;
}

.carousel__btns {
	gap: 0.5rem;
}

@media (max-width: 25em) {
	.carousel,
	.carousel__imgs {
		width: 300px;
	}
}
