@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	margin: 0;
	background-color: #b8c6db;
	background-image: linear-gradient(315deg, #b8c6db, #f5f7fa);
	display: grid;
	place-items: center;
	/* overflow: hidden; */
}

.container {
	width: min(100% - 2rem, 37.5rem);
	border-radius: 0.625rem;
	background-color: #ffffff;
	box-shadow: 0 0 0.625rem hsl(0 0% 15% / 0.1);
	overflow: hidden;
}

.quiz-header {
	padding: 4rem;
}

h2 {
	text-align: center;
	padding: 1rem;
	margin-top: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	font-size: 1.2rem;
	margin-block: 1rem;
}

label {
	cursor: pointer;
}

button {
	cursor: pointer;
	font: inherit;
	color: #ffffff;
	width: 100%;
	padding: 1.3rem;
	border: none;
	background-color: #8e44ad;
	display: block;
}

button:hover,
button:focus {
	outline: 0;
	background-color: #732d91;
}
