@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;&display=swap");

:root {
	--border-color: #144fc6;
	--fill-color: #6ab3f8;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	color: #ffffff;
	margin: 0;
	min-height: 100vh;
	background-color: #3494e4;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin: 10px 0 0;
}

h3 {
	font-weight: 400;
	margin: 10px 0;
}

.cup {
	color: var(--border-color);
	border-radius: 0 0 40px 40px;
	border: 4px solid var(--border-color);
	background-color: #ffffff;
	height: 330px;
	width: 150px;
	margin: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.cup--small {
	height: 95px;
	width: 50px;
	border-radius: 0 0 15px 15px;
	background-color: hsl(0 0% 100% / 0.9);
	cursor: pointer;
	font-size: 14px;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 5px;
	transition: 0.3s ease;
}

.cup--small.full {
	background-color: var(--fill-color);
	color: #fff;
}

.cups {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 280px;
}

.remained {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex: 1;
	transition: 0.3s ease;
}

.remained span {
	font-size: 20px;
	font-weight: bold;
}

.remained small {
	font-size: 12px;
}

.percentage {
	font-size: 30px;
	font-weight: 600;
	height: 0;
	background-color: var(--fill-color);
	display: grid;
	place-items: center;
	transition: 0.3s ease;
}
